name: CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    # actions/checkout@v3.6.0
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
    # actions/cache@v3.3.3
    - name: Cache Mix dependencies
      uses: actions/cache@e12d46a63a90f2fae62d114769bbf2a179198b5c
      with:
        path: |
          deps
          _build
        key: elixir-${{ hashFiles('mix.lock') }}-ecto-postgres-${{ runner.os }}
        restore-keys: |
          elixir-${{ hashFiles('mix.lock') }}-ecto-postgres-
          elixir-
    # erlef/setup-elixir@v1.16.0
    - uses: erlef/setup-elixir@e0c9346ed4f327725d00d43331efc60496379597
      with:
        elixir-version: '1.15'
        otp-version: '26'
    - run: mix deps.get
    - run: mix test